<div *ngIf="teamName != ''">
<div class="list-group-item active">Team</div>
<div class="list-group">
  <div class="list-group-item text-center">
    <h2>{{teamName}}</h2>
    <p><img [ngStyle]="{margin:'10px auto'}" class="img-responsive" [src]="teamUrl" [alt]="teamUrl"></p>
    <p *ngIf="teamValue" class="text-right">Market Value: <strong>{{teamValue}}</strong></p>
    <p>
      <a routerLink="squad" class="btn btn-primary">Squad</a>
      <a routerLink="fixtures" class="btn btn-primary">Fixtures</a>
    </p>
  </div>
</div>
</div>
<div *ngIf="teamName == ''">Sorry there is no team stats ...</div>
