<div *ngIf="standings != undefined">
<h3>{{leagueCaption}}</h3>
<div class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Team</th>
      <th title="Played Games">PG</th>
      <th title="Goal Difference">GD</th>
      <th title="Points">PTS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let standing of standings">
      <td>{{standing.rank}}</td>
      <td>
        <img width="20" class="img-circle" [class.hide]="standing.crestURI == 'null' || standing.crestURI.length == 0 " [src]="standing.crestURI" title="{{standing.teamName}}" alt="">
        <a routerLink="/competition/{{leagueId}}/teams/{{standing.teamId}}">{{standing.team}}</a>
      </td>
      <td title="Played Games">{{standing.playedGames}}</td>
      <td title="Goal Difference">{{standing.goalDifference}}</td>
      <td title="Points">{{standing.points}}</td>
    </tr>
  </tbody>
</div>
</div>
<div *ngIf="standings == ''">Sorry there is no standings stats ...</div>

<div class="table-responsive" *ngIf="groupsObj != ''">
  <h3>{{leagueCaption}} groups</h3>
  <table class="table" *ngFor="let groups of groupsObj;">
          <tbody *ngFor="let group of groups; let i = index;">
                <tr *ngIf="i==0">
                  <td><strong>Group: {{group.group}}</strong></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="i==0">
                    <th>#</th>
                    <th>Team</th>
                    <th class="text-center">Played games</th>
                    <th class="text-center">Points</th>
                </tr>
                <tr>
                  <td>{{group.rank}}</td>
                  <td>
                    <a routerLink="/competition/{{leagueId}}/teams/{{group.teamId}}">
                    <img [ngStyle]="{width:'40px'}" *ngIf="group.crestURI" [src]="group.crestURI" alt="">
                    {{group.team}}
                    </a>
                  </td>
                  <td class="text-center">{{group.playedGames}}</td>
                  <td class="text-center">{{group.points}}</td>
                </tr>
        </tbody>
  </table>
</div>
